@import "./../variables";

.form {
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;

  label {
    display: block;
    // margin-bottom: 0.2rem;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    color: white;
    background-color: blueviolet;
    padding: 0.8em 1em;
    border: none;
    border-radius: 0.2em;
  }
}
