@import "./../variables";

.errors {
  padding: $size-sm;
  border: solid 1px $color-red;
  border-radius: $size-xs;
  background-color: rgba($color: $color-red, $alpha: 0.6);

  li {
    list-style-type: none;
  }
}
