@import "./../variables";
@import "./../mixins";

// .social {
//   display: none;

//   @include respond(tablet) {
//     display: flex;
//   }
// }

.social {
  // text-align: center;
  display: flex;
  margin: 0 auto;

  a {
    margin-right: $size-md;

    svg {
      width: 3.4rem;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}
