@import "./../variables";
@import "./../mixins";

.social {
  text-align: center;

  a {
    margin-right: $size-lg;

    svg {
      height: 4.2rem;
      width: 4.2rem;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}
