@import "./../variables";
@import "./../mixins";

// .social {
//   display: none;

//   @include respond(tablet) {
//     display: flex;
//   }
// }

.social {
  text-align: center;
  // display: flex;
  margin: 0 auto;

  a {
    margin-right: $size-lg;

    svg {
      height: 4.2rem;
      width: 4.2rem;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}
