$color-purple: #6d38dd;
$color-blue: #038de9;
$color-light-blue: #15d5ff;
$color-aqua: #1ffff2;
$color-yellow: #fcee21;
$color-orange: #ff5621;
$color-red: #ff2156;

$color-white: #ffffff;
$color-gray-light: #f6f6f6;
// $color-gray-watermark: #F2F2F2;
$color-gray-text: #636363;
$color-gray-dark: #3b3841;
$color-black: #000000;

$shadow-1: 0 .5rem 2rem rgba($color-black, .20);

$size-sm: .5rem;
$size-md: 1rem;
$size-lg: 2rem;

