$color-purple: #6d38dd;
$color-blue: #038de9;
$color-light-blue: #15d5ff;
$color-aqua: #1ffff2;
$color-yellow: #fcee21;
$color-orange: #ff5621;
$color-red: #ff2156;

$color-white: #ffffff;
$color-gray-light: #f6f6f6;
// $color-gray-watermark: #F2F2F2;
$color-gray-text: #76757a;
$color-gray-dark: #3b3841;
$color-black: #000000;

$shadow-1: 0 0.5rem 2rem rgba($color-black, 0.2);

$size-xs: 1rem; /* Mobile: 8px, DskTp: 10px */
$size-sm: 1.5rem; /* Mobile: 12px, DskTp: 15px */
$size-md: 2rem; /* Mobile: 16px, DskTp: 20px */
$size-lg: 3rem; /* Mobile: 24px, DskTp: 30px */
$size-xl: 6rem; /* Mobile: 48px, DskTp: 60px */

:export {
  colorPurple: $color-purple;
  colorBlue: $color-blue;
  colorLightBlue: $color-light-blue;
  colorAqua: $color-aqua;
  colorOrange: $color-orange;
  colorRed: $color-red;
}
