@import "variables";
@import "animations";
@import "mixins";

.container {
  color: $color-black;
  background-color: $color-gray-light;
  padding: $size-lg;
  margin-left: $size-sm;
  border-top-left-radius: $size-xl;
  // border-top-right-radius: $size-xl;

  position: relative;
  overflow: hidden;

  @include respond(tablet) {
    margin-left: $size-lg;
    padding: $size-xl;
  }

  // @include respond(tablet) {
  //   margin-left: $size-lg;
  //   padding: $size-xl;
  // }

  img {
    position: absolute;
  }

  .bg_elipse_sm {
    width: 12rem;
    top: 4rem;
    left: 20rem;
    animation: spin-left infinite 50s linear;

    @include respond(tablet) {
      left: 24rem;
    }
  }

  .bg_elipse_lg {
    width: 26rem;
    bottom: 26rem;
    left: -8rem;
    animation: spin-right infinite 60s linear;

    @include respond(tablet) {
      width: 30rem;
      bottom: 20rem;
    }
  }

  .bg_img_1 {
    max-width: 60rem;
    bottom: 0;
    left: 0;

    @include respond(tablet) {
      left: revert;
      right: 0;
    }
  }

  .bg_img_2 {
    max-width: 51rem;
    bottom: 0;
    left: 8rem;

    @include respond(tablet) {
      left: revert;
      right: 0;
    }
  }
}

.story {
  margin-top: $size-xl;
  position: relative;
  z-index: 2;

  h2 {
    margin-bottom: $size-md;
  }

  p {
    margin-bottom: $size-md;
  }
}

.details {
  margin-top: $size-xl;
  position: relative;
  z-index: 2;

  @include respond(tablet) {
    width: 85%;
  }

  h4 {
    margin-bottom: $size-md;

    span:first-child {
      margin-right: $size-md;
    }
  }

  p {
    margin-bottom: $size-md;
  }

  ul {
    margin-bottom: 40rem;
    columns: 2;
    list-style: none;
    // list-style-position: inside;
  }

  li {
    margin-bottom: $size-xs;
  }

  li::before {
    // content: "\2022";
    // color: $color-purple;
    // font-weight: bold;

    content: "";
    background-color: $color-purple;
    border-radius: 50%;
    display: inline-block;
    margin-right: $size-sm;
    margin-bottom: 1px;
    height: 0.8rem;
    width: 0.8rem;
  }
}
