@import "variables";
@import "mixins";

.section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    121.4deg,
    $color-blue 5.84%,
    $color-light-blue 61.16%
  );
  min-height: 90vh;
}

.content {
  margin-top: 16rem;
  padding: $size-sm;
  position: relative; /* To bring to front */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include respond(tablet) {
    width: 80%;
    margin: 20rem auto 0 auto;
  }

  h1,
  h2 {
    margin-bottom: $size-md;
    @include shadow(medium, text);
  }

  // h1 {
  //   margin-bottom: $size-md;
  //   @include shadow(medium, text);
  // }

  h2 {
    font-size: 2rem;
    font-weight: normal;

    @include respond(tablet) {
      font-size: 2.4rem;
    }

    @include respond(desktop) {
      font-size: 2.8rem;
    }
  }
}

.buttons {
  margin-top: $size-xs;
  display: flex;
  flex-direction: column;
  gap: $size-md;

  @include respond(desktop) {
    flex-direction: row;
    gap: $size-lg;
  }
}

// .button,
.contactButton,
.projectsButton {
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: $size-xs;
  height: 5.8rem;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $size-xs;
  @include shadow(medium);
  transition: all 300ms ease-in-out;

  &:hover {
    transform: scale(1.03);
    @include shadow(large);
  }
}

.contactButton {
  background-color: $color-red;
}

.projectsButton {
  color: $color-blue;
  background-color: $color-white;

  svg {
    height: 3rem;
  }
}

.bg_img_1,
.bg_img_2,
.bg_img_3 {
  width: 150vw;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
  // top: 100%;
  // transform: translateY(-50%);
  @include respond(tablet) {
    width: 100vw;
  }
}

// .bg_img_2,
// .bg_img_3 {
//   @include svgShadow(medium);
// }

.bg_img_1 {
  bottom: 26rem;

  @include respond(large-screen) {
    bottom: 28rem;
  }
}

.bg_img_2 {
  bottom: 14rem;
}

.bg_img_3 {
  bottom: 0rem;

  @include respond(desktop) {
    bottom: -1rem;
  }
  @include respond(large-screen) {
    bottom: -2rem;
  }
}

.cross_mark_1,
.cross_mark_2,
.cross_mark_3,
.cross_mark_4 {
  position: absolute;
  width: 2rem;
  @include svgShadow(medium);

  @include respond(tablet) {
    width: 3rem;
  }

  @include respond(desktop) {
    width: 4rem;
  }
}

.cross_mark_1 {
  top: 13%;
  left: 18%;
  transform: rotate(45deg);

  @include respond(desktop) {
    top: 18%;
    left: 6%;
  }
}

.cross_mark_2 {
  top: 20%;
  right: 26%;

  @include respond(desktop) {
    top: 27%;
    right: 8%;
  }
}

.cross_mark_3 {
  top: 86%;
  right: 78%;

  @include respond(tablet) {
    top: 68%;
    right: 78%;
    // transform: rotate(45deg);
  }

  @include respond(desktop) {
    top: 42%;
    right: 22%;
    transform: rotate(45deg);
  }
}

.cross_mark_4 {
  top: 50%;
  right: 20%;
  transform: rotate(45deg);

  @include respond(desktop) {
    top: 53%;
    right: 54%;
    transform: rotate(0deg);
  }

  @include respond(large-screen) {
    top: 88%;
    right: 74%;
  }
}
