@import "variables";
@import "mixins";

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: fixed;
  z-index: 10;
  padding: $size-sm;
  left: 0;
  right: 0;

  transition: background-color 500ms ease-in-out;
}

.dark {
  background-color: $color-gray-dark;
  // background-color: rgba($color: $color-gray-dark, $alpha: 0.95);
  // background: linear-gradient(169deg, $color-purple, $color-blue);
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: stretch;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-size: 2.8rem;
  display: flex;
  align-items: center;

  @include respond(tablet) {
    font-size: 3.2rem;
  }

  svg {
    width: 4.2rem;
    height: 4.2rem;
  }

  span {
    margin-left: $size-xs;
    letter-spacing: 0.1rem;
  }
}

.menu {
  display: none;
  // margin: auto 0;

  @include respond(tablet) {
    display: block;
  }
}

.link {
  margin-right: 2.8rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.social_links_container {
  display: none;

  @include respond(desktop) {
    display: block;
  }
}
