@import "variables";
@import "mixins";

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: fixed;
  z-index: 10;
  padding: $size-sm;
  left: 0;
  right: 0;

  transition: background-color 500ms ease-in-out;

  a {
    transition: all 200ms ease;

    svg {
      height: 3.6rem;
      width: 3.6rem;
    }

    &:hover {
      color: darken($color: $color-white, $amount: 10);

      svg {
        fill: darken($color: $color-white, $amount: 10);
      }
    }
  }
}

.dark {
  // background-color: $color-gray-dark;

  background-color: rgba($color-gray-dark, 80%);
  backdrop-filter: blur(5px);

  a {
    &:hover {
      color: darken($color: $color-white, $amount: 20);

      svg {
        fill: darken($color: $color-white, $amount: 20);
      }
    }
  }
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: stretch;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-size: 2.8rem;
  display: flex;
  align-items: center;

  @include respond(tablet) {
    font-size: 3.2rem;
  }

  svg {
    fill: $color-white;
    width: 4.2rem;
    height: 4.2rem;
    transition: fill 200ms ease;
  }

  span {
    margin-left: $size-xs;
    letter-spacing: 0.1rem;
  }
}

.menu {
  display: none;
  // margin: auto 0;

  @include respond(tablet) {
    display: block;
  }
}

.link {
  margin-right: 2.8rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.social_links_container {
  display: none;

  @include respond(desktop) {
    display: block;
  }
}
