@import "variables";

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: fixed;
  z-index: 10;
  padding: $size-md;
  left: 0;
  right: 0;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: stretch;
}

.logo {
  font-size: 1.75rem;
  display: flex;
  align-items: center;

  img {
    width: 3rem;
  }

  span {
    margin-left: $size-sm;
  }
}

.menu {

}